.resume {
    width: 210.5mm;
    height: 296.5mm;
    margin: auto;
    background: #f2f2f2;
    overflow: hidden;
}

.f1-resume-header {
    background: #000;
    padding: 15px 25px;
}

.f1-resume-header .f1-name {
    color: #fff;
    font-size: 30px;
    letter-spacing: .5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
}

.f1-resume-header .f1-designation {
    font-size: 16px;
    color: #4CAF50;
    line-height: 19px;
    font-family: verdana;
    margin-top: 5px;
}

.f1-resume-header .f1-desrciption {
    font-size: 12px;
    color: #fff;
    margin-top: 8px;
}

.f1-personal-details {
    background: #2b343f;
    padding: 15px 25px;
    color: #fff;
    font-size: 13px;
}

.f1-personal-details .col-6 {
    margin-bottom: 8px;
}

.f1-personal-details span {
    margin-left: 8px;
}

.f1-personal-details span a {
    color: inherit;
}

.f1-professional-details {
    background: #f2f2f2;
    padding: 15px 25px;
}

.f1-heading {
    color: #4f90cd;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    display: none;
}

/* Experience */

.f1-ex-compnay {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}

.f1-ex-position {
    font-weight: 500;
    font-size: 12px;
    color: #4f90cd;
    font-style: italic;
}

.f1-ex-working {
    font-size: 12px;
    color: #4f90cd;
    font-style: italic;
}

.f1-ex-working i,
.f1-ex-working span {
    vertical-align: middle;
}

.f1-ex-working span {
    margin-left: 5px;
}

.f1-ex-desc {
    font-size: 12px;
    font-style: italic;
    color: #333;
}

/* Experience End */

/* Education */
.f1-edu-degree {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}

.f1-edu-stream {
    font-size: 12px;
    color: #4f90cd;
    font-style: italic;
    font-weight: 500;
}

.f1-edu-college {
    font-weight: 500;
    font-size: 14px;
}

.f1-edu-time-place {
    font-size: 12px;
    color: #4f90cd;
    font-style: italic;
}

.f1-edu-time-place i,
.f1-edu-time-place span {
    vertical-align: middle;
}

.f1-edu-time-place span {
    margin-left: 5px;
}

/* Education End */

/* Projects */
.f1-project-link {
    margin-left: 5px;
}

/* Projects End */


.f1-section-border {
    border-top: 2px solid #c2c2c2;
}

.f1-pro-tech {
    font-size: 13px;
    color: #4f90cd;
    font-style: italic;
}

/* .f1-achievements-list {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-left: 16px;
    font-size: 13px;
    font-weight: 500;
} */




.f1-side-1 .f1-section:not(:first-child),
.f1-side-2 .f1-section:not(:first-child) {
    margin-top: 10px;
    padding-top: 5px;
}

.f1-section .f1-sub-section {
    margin-top: 5px;
}

.f1-sub-section:first-child {
    margin-top: 0px;
}

.f1-skills span {
    background: #2b343f;
    color: #fff;
    font-size: 13px;
    padding: 3px 8px;
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 6px;
    display: inline-block;
    margin-top: 4px;
}

.f1-project-name {
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
}

.f1-project-desc {
    font-size: 11px;
    font-style: italic;
    color: #888;
    line-height: 15px;
}



.f1-project-name::before {
    /* counter-increment: project; */
    content: '';
}

.f1-project:not(:first-child) {
    margin-top: 8px;
}

.f1-certificate:not(:first-child) {
    margin-top: 8px;
}

.f1-certification {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.f1-certification-desc {
    font-size: 12px;
    font-style: italic;
    color: #888;
    line-height: 15px;
}

.f1-margin-top-15 {
    margin-top: 15px !important;
}